.App {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.add {
  margin-top: 60px;
  }

.Trail{
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  color: blueviolet;
  padding: 24px 0px 20px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

label {
  display: inline-block;
  width: 43px;
  height: 23px;
}

input{
  width: 183px;
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
}

.card-text {
    margin-top: 0;
    margin-bottom: 8px;
}

.Card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Stars {
  display: flex; 
  justify-content: center;
}
